# Shortcuts
alias db="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias s="cd ~/src"
alias g="git"
alias v="vim"
alias o="open"
alias oo="open ."

#pep8
alias shitbroke="pep8 --ignore=E501,E711"

#hub
alias git="hub"